body {
	font-size: 16px;
	color-rendering: #fff;
	background-color: #d1dbb8;
	font-family: 'Montserrat' sans-serif;
}
/** header **/
#header-nav {
	background-color:  #800000;
	border-radius: 0;
	border: 0;
}
.navbar-brand  { 
	text-align: center;
padding-top: 10px;
 }
 .navbar-brand h1 { /* FOOD, LLC */
 	font-family: "italic" sans-serif;
 	color: #408000;
 	font-size: 1,6em;
 	text-transform: uppercase;
 	font-weight: bold;
 	text-shadow: 1px 1px 1px #222;
 	margin-top: 0; 
 	margin-bottom: 0;
 	line-height: .70;
 }

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color: #951C49;
	text-align: center
}

#nav-list a:hover{
	color: Blue;
}
#header{
	text-align: center;
	margin-bottom: 50px;
	color: brown;
	font-weight: bold;
	font-size: 24px;
}
.card-header{
	text-align: center;	
}

.sushi{
	background-color: #626b52;
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	font-style: italic;
}
.beef{
	background-color: #767b82;
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	font-style: italic;
}
.chicken{
	background-color: #b3bfd1;
	color: black;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	font-style: italic;
}